<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bot Analyzer</title>
    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'readlog/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'readlog/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'readlog/bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static 'readlog/dist/css/timeline.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'readlog/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'readlog/bower_components/morrisjs/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'readlog/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



    <!-- Morris Charts JavaScript -->
    <script src="{% static 'readlog/bower_components/raphael/raphael-min.js' %}" type="text/javascript"></script>
    <script src="{% static 'readlog/bower_components/morrisjs/morris.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'readlog/js/morris-data.js' %}" type="text/javascript"></script>





    <script src="{% static 'readlog/bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="{% static 'readlog/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script> -->

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'readlog/bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- DataTables JavaScript -->
    <script src="{% static 'readlog/bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'readlog/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>

    <!-- Flot Charts JavaScript -->
    <script src="{% static 'readlog/bower_components/flot/excanvas.min.js' %}"></script>
    <script src="{% static 'readlog/bower_components/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'readlog/bower_components/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'readlog/bower_components/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'readlog/bower_components/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'readlog/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{%static 'readlog/dist/js/sb-admin-2.js' %}"></script>
    <script src="{%static 'readlog/js/morris-data.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{%static 'readlog/dist/js/sb-admin-2.js' %}"></script>





</head>

<body>
    {% if user.is_authenticated %}
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{%url 'readlog.views.index' %}">Bots Analyser</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <!-- <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li> -->
                        <li class="divider"></li>
                        <li><a href="{%url 'readlog.views.logouts' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                       <li>
                            <a href="{%url 'readlog.views.index' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                         <li>
                            <a href="/readlog/{{last_month}}/good_bot_tables/"><i class="fa fa-dashboard fa-fw"></i> Good Crawlers</a>
                        </li>
                        <li>
                            <a href="/readlog/{{last_month}}/bad_ip_tables/"><i class="fa fa-dashboard fa-fw"></i> Bad bots</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <span style="float: left;"><h1 class="page-header">Dashboard</h1></span>
                    <select class = "form-control" id="projectKey" name="projectKey" style="float: right;" onchange="toggle_visibility();">
                        <option value = "Last hour">Last Hour</option>
                        <option value = "Yesterday">Yesterday</option>
                        <option value = "Last Week">Last Week</option>
                        <option value = "Last Month">Last Month</option>
                    </select>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <br/>
            <!-- /.row: last hour -->
            <div class="row" id = "last-hour" style="display: block;">
                <div class="col-lg-3 col-md-3">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bolt fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{good_ip_last_hour}}</div>
                                    <div>Good Bots</div>
                                </div>
                            </div>
                        </div>
                        <a href="/readlog/{{last_hour}}/good_bot_tables/">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
               
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-warning fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{suspicious_ip_last_hour}}</div>
                                    <div>Suspicious</div>
                                </div>
                            </div>
                        </div>
                        <a href="/readlog/{{last_hour}}/suspicious_ip_tables/">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{bad_ip_last_hour}}</div>
                                    <div>Bad Bots!</div>
                                </div>
                            </div>
                        </div>
                        <a href="/readlog/{{last_hour}}/bad_ip_tables/">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{hits_last_hour}}</div>
                                    <div>Bot hits</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Distinct ips hits<br></span>
                                <span class="pull-right"></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row : yesterday -->
            <div class="row" id="yesterday" style="display: none;">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bolt fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{good_ip_yesterday}}</div>
                                    <div>Good Bots</div>
                                </div>
                            </div>
                        </div>
                        <a href="/readlog/{{yesterday}}/good_bot_tables/">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

               
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-warning fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{suspicious_ip_yesterday}}</div>
                                    <div>Suspicious</div>
                                </div>
                            </div>
                        </div>
                        <a href="/readlog/{{yesterday}}/suspicious_ip_tables/">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{bad_ip_yesterday}}</div>
                                    <div>Bad Bots!</div>
                                </div>
                            </div>
                        </div>
                        <a href="/readlog/{{yesterday}}/bad_ip_tables/">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{hits_yesterday}}</div>
                                    <div>Bot hits</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Distinct ips hits<br></span>
                                <span class="pull-right"></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- row: last-week-->
            <div class="row" id="last-week" style="display: none;">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bolt fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{good_ip_last_week}}</div>
                                    <div>Good Bots</div>
                                </div>
                            </div>
                        </div>
                        <a href="/readlog/{{last_week}}/good_bot_tables/">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-warning fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{suspicious_ip_last_week}}</div>
                                    <div>Suspicious</div>
                                </div>
                            </div>
                        </div>
                        <a href="/readlog/{{last_week}}/suspicious_ip_tables/">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{bad_ip_last_week}}</div>
                                    <div>Bad Bots!</div>
                                </div>
                            </div>
                        </div>
                        <a href="/readlog/{{last_week}}/bad_ip_tables/">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{hits_last_week}}</div>
                                    <div>Bot hits</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Distinct ips hits<br></span>
                                <span class="pull-right"></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- row: last-month -->
            <div class="row" id="last-month" style="display: none;">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bolt fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{good_ip_last_month}}</div>
                                    <div>Good Bots</div>
                                </div>
                            </div>
                        </div>
                        <a href="/readlog/{{last_month}}/good_bot_tables/">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
               
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-warning fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{suspicious_ip_last_month}}</div>
                                    <div>Suspicious</div>
                                </div>
                            </div>
                        </div>
                        <a href="/readlog/{{last_month}}/suspicious_ip_tables/">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{bad_ip_last_month}}</div>
                                    <div>Bad Bots!</div>
                                </div>
                            </div>
                        </div>
                        <a href="/readlog/{{last_month}}/bad_ip_tables/">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{hits_last_month}}</div>
                                    <div>Bot hits</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Distinct ips hits<br></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <span class="pull-right"></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <!-- <div class="row" style="display: none;">
                <div class="col-lg-3 col-md-6"> -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Line Chart Example
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div id="morris-line-chart"></div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>

                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i><strong> Bot Classification this month</strong>
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart"></div>
                                <!-- <a href="#" class="btn btn-default btn-block">View Details</a> -->
                            </div>
                                <!-- /.panel-body -->
                    </div>
                </div>
            </div>    
                        <div class="panel-footer">

                            <div class="input-group">
                                
                            </div>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->


        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <!-- jQuery -->
    {% load staticfiles %}

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'readlog/bower_components/raphael/raphael-min.js' %}" type="text/javascript"></script>
    <script src="{% static 'readlog/bower_components/morrisjs/morris.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'readlog/js/morris-data.js' %}" type="text/javascript"></script>





    <script src="{% static 'readlog/bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'readlog/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'readlog/bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- DataTables JavaScript -->
    <script src="{% static 'readlog/bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'readlog/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>

    <!-- Flot Charts JavaScript -->
    <script src="{% static 'readlog/bower_components/flot/excanvas.min.js' %}"></script>
    <script src="{% static 'readlog/bower_components/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'readlog/bower_components/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'readlog/bower_components/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'readlog/bower_components/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'readlog/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{%static 'readlog/dist/js/sb-admin-2.js' %}"></script>
    <script src="{%static 'readlog/js/morris-data.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    <script type="text/javascript">
       function toggle_visibility(){
            if(document.getElementById("projectKey").value == 'Yesterday'){
                document.getElementById('last-hour').style.display= 'none';
                document.getElementById('yesterday').style.display= 'block'
                document.getElementById('last-week').style.display= 'none';
                document.getElementById('last-month').style.display= 'none';
            }
            else if(document.getElementById("projectKey").value == 'Last hour'){
                document.getElementById('yesterday').style.display= 'none';
                document.getElementById('last-hour').style.display= 'block';   
                document.getElementById('last-week').style.display= 'none';
                document.getElementById('last-month').style.display= 'none';
                
            }

            else if(document.getElementById("projectKey").value == 'Last Week'){
                document.getElementById('last-hour').style.display= 'none';
                document.getElementById('yesterday').style.display= 'none'
                document.getElementById('last-week').style.display= 'block';
                document.getElementById('last-month').style.display= 'none';
            }
            else if(document.getElementById("projectKey").value == 'Last Month'){
                document.getElementById('yesterday').style.display= 'none';
                document.getElementById('last-hour').style.display= 'none';   
                document.getElementById('last-week').style.display= 'none';
                document.getElementById('last-month').style.display= 'block';
                
            }
        }
    </script>
    <script type="text/javascript">
        var d = new Date();
        var month = new Array();
        month[0] = "01";
        month[1] = "02";
        month[2] = "03";
        month[3] = "04";
        month[4] = "05";
        month[5] = "06";
        month[6] = "07";
        month[7] = "08";
        month[8] = "09";
        month[9] = "10";
        month[10] = "11";
        month[11] = "12";
        var n = month[d.getMonth()];
        var m = '2015'
        var dates = new Array();

        dates[1] = m + '-' + n + '-' + '05'
        dates[2] = m + '-' + n + '-' + '10'
        dates[3] = m + '-' + n + '-' + '15'
        dates[4] = m + '-' + n + '-' + '20'
        dates[5] = m + '-' + n + '-' + '25'
        dates[6] = m + '-' + n + '-' + '30' 

        Morris.Line({
          element: 'morris-line-chart',
          data: [
            { y: dates[1], a: {{bad_bots_first}},  b: {{good_bots_first}} },
            { y: dates[2], a: {{bad_bots_ten}},  b: {{good_bots_ten}} },
            { y: dates[3], a: {{bad_bots_15}},  b: {{good_bots_15}} },
            { y: dates[4], a: {{bad_bots_20}},  b: {{good_bots_20}} },
            { y: dates[5], a: {{bad_bots_25}},  b: {{good_bots_25}} },
            { y: dates[6], a: {{bad_bots_30}}, b: {{good_bots_30}} }
          ],
          xkey: 'y',
          ykeys: ['a', 'b'],
          labels: ['Bad bots', 'Good bots'],
          xLabelFormat: function (x) {
                  var IndexToMonth = [ "Jan", "Feb", "Mär", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez" ];
                  var month = IndexToMonth[ x.getMonth() ];
                  var year = x.getFullYear();
                  var date = x.getDate();
                  return year + ' ' + month + ' ' + date;
              },
          dateFormat: function (x) {
                  var IndexToMonth = [ "Jan", "Feb", "Mär", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez" ];
                  var month = IndexToMonth[ new Date(x).getMonth() ];
                  var year = new Date(x).getFullYear();
                  var date = new Date(x).getDate();
                  return year + ' ' + month + ' ' + date;
              },
        });
    </script>
    <script type="text/javascript">
        Morris.Donut({
          element: 'morris-donut-chart',
          data: [{
            label: "Good Bots",
            value: {{good_ip_last_month}}
          }, {
            label: "Bad Bots",
            value: {{bad_ip_last_month}}
          }, {
            label: "Suspicious Bots",
            value: {{suspicious_ip_last_month}}
          }]
        });
    </script>

    <script type="text/javascript">
        $(function () {
          $("#projectKey").change(function() {
            var val = $(this).val();
            if(val === "last-hour") {
                $("#last-hour").show();
                $("#yesterday").hide():
            }
            else if(val === "yesterday") {
                $("#yesterday").show();
                $("#last-hour").hide();
            }
          });
        });
    </script>
    <script type="text/javascript">
        setTimeout(function(){
           window.location.reload(1);
        }, 4000000);
    </script>
    {% else %}
    <script type="text/javascript">
        window.location = "/readlog/login/";
    </script>
    {% endif %}
</body>

</html>
